body {
  background-color: black;
}

header {
  height: 135px;

  div {
    height: 100%;
    border: 2px solid black;
    border-radius: 9px;
    display: flex;
    justify-content: space-evenly;
  }

  .block-3 {
    background-image: url(https://cdn.dribbble.com/users/189524/screenshots/1953501/01-aces_v2.gif);
    background-size: contain;
  }
}

main {
  height: 800px;
  .block-1 {
    max-height: 800px;
    word-wrap: break-word;
  }

  .block-2 {
    background-image: url(https://www.casino.org/CorgEmbeds/card-counting-game/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid whitesmoke;
    border-radius: 9px;

    article {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  .block-3 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 9px;
    background-image: url(https://cdn.dribbble.com/users/189524/screenshots/1953501/01-aces_v2.gif);
    background-size: contain;
  }

  .block-4 {
    border: 2px solid black;
    border-radius: 9px;
    background-color: lightgray;
  }
}

h3 {
  text-align: center;
  height: 60px;
  padding-top: 10px;
  margin-top: 10px;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  td {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

footer {
  height: 135px;
  div {
    border: 2px solid black;
    border-radius: 9px;
    height: 100%;
  }
  .block-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .block-3 {
    background-image: url(https://cdn.dribbble.com/users/189524/screenshots/1953501/01-aces_v2.gif);
    background-size: contain;
  }
}

img {
  height: 120px;
  width: 80px;
}
img:hover {
  cursor: pointer;
}



// .header-footer {
//   /* background-image: url(https://media1.tenor.com/images/737be09a84cd6ef0248d84c596f104f9/tenor.gif?itemid=5935579); */
//   /* background-image: url(http://www.animatedimages.org/data/media/633/animated-playing-card-image-0071.gif)
//   https://thumbs.gfycat.com/ElegantBothBobolink-max-1mb.gif */
//   /* background-repeat: no-repeat;
//   background-size: cover; */
// }
